@{
  ViewData["Title"] = $"Details for {@Model.Name}";
}

<h1>@Model.Name</h1>

<p>@Model.Description</p>

  @foreach(Solution solution in Model.Solutions)
  {
    <h4>@solution.Name</h4>
    <p>@solution.Description</p>
  }


<p>@Html.ActionLink("Back to all Issues", "Index")</p>